<!DOCTYPE html>
<html>
    <head>
        <title>Disney</title>
        <link rel="stylesheet" href="./css/mbti.css">
    </head>
    <body bgcolor="LavenderBlush">
        <center><br>
            <div class="kotra mt-3">
              <br><br><br><span style="color:darkblue; font-size:50px">너의 캐릭터는?</span><br><br><br>
                
            </div>
        </center><br>
            <div class="box kotra mt-3">

                <center><br>
                <span style="color:maroon; font-size:30px;">"당신의 캐릭터"</span><br>
                <hr style="width:95%; border: solid 2px maroon">
                </center><br>

                <div class="explain">
                    <button class="start kotra" type="button" style="font-size:25px">테스트 하러가기</button>
                </div><br>
                <div class="love_explain kotra mt-3">
                  1. 스릴이 좋아! 왕자님과 차분한 데이트보다는 모험 등의 활동적인 데이트를 하고 싶어.<br>
                  2. 관심을 지나치게 갖는 왕자님은 싫어. 개인 영역을 침범하지 않고, 존중해줘.<br>
                  3. 나를 가르치려고 하는 왕자님은 싫어. 내가 하는 말을 공감하고 들어줬으면 해.<br>
                  4. 논리적인 것이 좋아. 다양한 주제로 토론을 함께 할 수 있는 왕자님을 만나고 싶어.<br>
              </div><br><br>

            </div> 
    </body>
</html>