<!DOCTYPE html>
<html>
    <head>
        <title>Disney</title>
        <link rel="stylesheet" href="../static/mbti.css">
    </head>

    <body bgcolor="LavenderBlush">
        <center><br>
            <div class="kotra">
            <br><br><br><span style="color:darkblue; font-size:50px">너의 캐릭터는?</span><br><br><br>
            </div>
        </center><br>

            <div class="box kotra">
                <center><br>
                <span style="color:darkorchid; font-size:30px;">"당신의 캐릭터"</span><br>
                <hr style="width:95%; border: solid 2px darkorchid">
                </center><br>
                <div class="img-princess">
                    <img src="../image/disney.png" alt="사진" class="img-disney" width="300" height="300">
                </div>
                
                <div class="explain">
                    
                    <button class="start kotra" type="button" style="font-size:25px">테스트 하러가기</button>
                </div><br><br>

            </div> 
            <br><br>
    </body>
</html>